body {
  font-family: Avenir;
  margin-top: 50px;
  margin-left: 0px;
}

body,
html {
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 45px;
}

.icones .contact {
  align-items: center;
}

.icones {
  cursor: pointer;
  color: black;
  margin-left: 10px;
  font-size: 30px;
  animation: fadeIn 1s ease-out forwards; /* Animation avec ease-out */
}

.icones:visited {
  color: black;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Changé de space-between à flex-start pour réduire l'espace */
  gap: 20px; /* Ajoute un espacement contrôlé entre les éléments */
}

.elliss {
  color: #a9d8d0;
}

.chiffre {
  color: #a9d8d0;
  font-weight: bolder;
  font-size: larger;
}

.contact {
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: #a9d8d0;
  padding: 15px;
  width: 180px;
  font-family: Avenir;
  font-size: 18px;
}

.contact:visited {
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  flex-wrap: nowrap;
}

img {
  max-width: 50%;
  max-height: 95%;
  object-fit: cover;
}

.par {
  color: #252525;
  opacity: 0.8;
  max-width: 65ch;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding-bottom: 25px;
  color: #666;
}

footer {
  width: 100%;
  padding-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 100%;
    object-fit: cover;
  }
  .container {
    font-size: larger;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    max-width: 768px;
    gap: 0; /* Réinitialise le gap pour mobile */
  }

  .hero {
    font-size: larger;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .contact {
    align-self: center;
    width: 60%;
    font-size: 18px;
    color: black;
  }

  .contact:visited {
    color: black;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 12px;
  }
}
